---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="SUKIARABA JIBUN GATARI"
	pubDate={new Date('2025/02/08')}
	heroImage="/blog-placeholder-about.jpg"
>
	<h4>
		このブログについて
	</h4>
	<p>
		どくてう（筆者）による令和の徒然草。平成初期のアメブロみたいな雰囲気を醸し出したいインターネット雑記。
	<p>


	<h4>
		Docteu(どくてう)について
	</h4>
	<p>
		2025年現在、ヒラ研究員をしている28歳児。博士(農学)を取得したことにより、ニックネームがMoriteuからDocteuに昇格。
	</p>
	<h4>
		投稿内容について
	</h4>
	<p>
		趣味についての話を早口で語ります:ランニング、筋トレ、読書、プログラミング、コーヒー、旅行、写真。
		最近は自分語りが多いので、主張の本編とショートショートの短編を合わせて書いていくスタイルでいこうとおもいます。
		ちなみに星新一に影響を受けています。
	</p>
	<h4>
		免責事項について
	</h4>
	<p>
		このブログに掲載されている情報は、筆者が調査した情報を元に作成しています。情報の正確性には細心の注意を払っていますが、その正確性や適切性について保証するものではありません。情報に基づいて被ったいかなる損害についても、筆者は一切の責任を負いませんよ！
	</p>
</Layout>
