---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Labs"
	description="機械学習・研究理論・思索のページ"
	pubDate={new Date('2025/07/17')}
	heroImage="https://docteu.com/public/beeker.png"
>
	<h4>
		機械学習・研究理論・思索について
	</h4>
	<p>
		機械学習の勉強しようと思うので、データサイエンスに関する思索をまとめていきたいと思い立ったので作りました。
		中身はありません。今はまだ。
	</p>

</Layout>