---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Works"
	description="プログラムデモ・サンプル集"
	pubDate={new Date('2025/07/17')}
	heroImage="/painting.png"
>
	<h4>
		プログラムデモ・サンプル集について
	</h4>
	<p>
		実際に開発したプログラムのデモンストレーション、コードサンプル、実験的なプロジェクトを紹介しています。
		学習や研究で作成したツールから、趣味で作った小さなアプリケーションまで幅広く掲載していきたい（思いつき）
	</p>

	<h4>
		デモとコード
	</h4>
	<p>
		可能な限り実際に動作するデモを提供し、GitHubでソースコードを公開しています。
	</p>

	<p>
		<em>※ 現在コンテンツを準備中です。順次プロジェクトを追加していきます。</em>
	</p>
</Layout>